.team-section {
  background-color: #f4f4fd;
}

.list-team {
  background-color: #ffffff;
}

.team-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section .list-team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section .list-team p {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-container {
  padding: 120px 0;
}

.team-container h2 {
  margin-bottom: 72px;
}

.team-container ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-team h3 {
  padding-top: 32px;
  margin-bottom: 8px;
}

.list-team p {
  padding-bottom: 32px;
}
